

@font-face {
    font-family: 'fatso';
    src: url('fatsocap-webfont.woff2') format('woff2'),
         url('fatsocap-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}